<h1>Hello <%=@user.username %>!</h1>

<h2>List 1</h2>
<ul>
<li>Task 1</li>
<li>Task 2</li>
</ul>

<h2>List 2</h2>
<ul>
<li>Task A</li>
<li>Task B</li>
</ul>

<a href="lists/new">Create New List</a><br>
<a href="tasks/new">Create New Task</a>